*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
   
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #007bff, #00d4ff);
    margin: 0;
}

form {
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    height: 100px;
}

input[type="submit"] {
    background: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

input[type="submit"]:hover {
    background: #0056b3;
}